[flake8]
max-line-length = 100
max-complexity = 30
extend-ignore = E203, W503
per-file-ignores =
    src/recipe_recommender/app.py:E501
    src/recipe_recommender/utils/favorites.py:E501
    src/recipe_recommender/utils/logger.py:E501
exclude = .git, __pycache__, build, dist, .venv
